* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}


body {
    /* background-color: #344a72; */
    background-color: #C7F2A4;


    font-family: "Roboto", sans-serif;
}

.signup-box {
    width: 360px;
    height: 400px;
    margin: 15% auto 0;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
}

.login-box {
    width: 360px;
    height: 320px;
    margin: auto;
    margin: 15% auto 0;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
}

h1 {
    text-align: center;
    padding-top: 15px;
}

h4 {
    text-align: center;
}

form {
    width: 300px;
    margin-left: 20px;
}

form label {
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

form input {
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"] {
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: #49c1a2;
    color: white;
    font-size: 18px;
}

p {
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para-2 {
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: -10px;
}

.para-2 a {
    color: black;
}