#root,
body,
html {
    height: 100%;
    margin: 0;
}

body {
   
    /* background-color: #00FFD1; */
    /* background-color: #C3FF99; */
    /* background-color: #00FFAB; */
    /* background-color: #B6FFCE; */
    background-color: #39AEA9;


}